.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
}

.logo{
    height: 100px;
    width: 100px;
    padding: 10px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    margin: 14px;
    padding: 5px;
    /* height: 500px; */
    width: 200px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}

.btn-filter{
    margin: 12px;
}

.search-filter{
    margin: 12px;
}

.btn-login{
    margin: 5px;
}

.res-card-shimmer{
    display: flex;
    flex-wrap: wrap;
    
}

.shimmer-cards{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.user-card{
    padding:5px;
    border: 1px solid black;
}